.task-creation-app {
    margin: auto;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.wrapper {
    width : 60%;
    margin: auto;
}
h2 {
    text-align: center;
}

Header{
    padding: auto
}
Heading{
    padding: 0;
}